{% extends 'base.html' %}
{% block title %}
Специалист
{% endblock %}
{% block content %}
<div class="container p-5 m-5">
<section class="home-about-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ha-pic">
                        <img src="{{ employer.photo.url }}" width="400" height="550" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ha-text">
                        <h2>Про специолиста</h2>
                        <p>{{ employer.description }}</p>
                        <ul>
                            <li><span class="icon_check"></span><h4>Имя: </h4>{{ employer.name }}</li>
                            <li><span class="icon_check"></span><h4>Город: </h4>{{ employer.city }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

                <!-- End Team Section -->

{% endblock %}